.vercel
*.log
*.pyc
__pycache__
node_modules

data.sql
help.sql
member.sql
message.sql

bycrypt.py
bycrypt_db.py

selenum_ref.py
selenum_ref_test.ipynb

# Environments 
.env 
.venv 
env/ 
venv/
ENV/ 
env.bak/ 
venv.bak/ 