<div class="square-btn sign-out-btn">
  <h2 class="square-num display-4"> <%= squared %> </h2>
  <div class="original-num"><%= integer %></div>
  <div class="square">
    <% image_urls.forEach(function(img_url) { %>
    <div><img class="img-fluid" src="<%= img_url %>" alt="Digit image"></div>
    <% }) %>
  </div>
  <p class="mt-4">Image by <a href="https://www.freepik.com/free-vector/hand-drawn-mathematical-symbols_11350317.htm#query=numbers%20svg&position=6&from_view=keyword&track=ais">Freepik</a></p>
</div>