*, *:before, *:after {
   box-sizing: border-box;
}
@mixin flexJustify {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin background {
  background-color: lightblue;
}
$fontSize: 20px;
$jumbotronHeight: 250px;
$navHeight: 50px;
$mainWidth: 1200px;
$gapSize: 20px;
$profileHeight: 300px;
$profileImageHeight: 200px;

body {
  font-size: $fontSize;
}
h2 {
  font-size: $fontSize*2;
}
ul {
  display: flex;
  list-style: none;
}
nav {
  @include flexJustify;

  justify-content: space-between;
  align-items: start;
  height: $navHeight;
  padding: 0 $fontSize/2;

  h1 {
    --height: 50px;
    --font-size: 20px;
    margin-top: calc(var(--height)/2 - var(--font-size)/2);
  }
  
  #hamburger-menu-click {
    display: none;
  }
  
  .hamburger-menu-label {
    @include flexJustify;
    position: relative;
    
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    .hamburger-menu {
      display: none;
    }
    .xmark {
      display: none;
    }
  }
  .nav-list {
    display: flex;
    transition: all .3s;
    
    .nav-item {
      padding: $fontSize/2;
      --height: 50px;
      --font-size: 20px;
      padding-top:  calc(var(--height)/2 - var(--font-size)/2);
    }
  }
  #hamburger-menu-click:checked + .hamburger-menu-label .hamburger-menu {
    display: none;
  }
  #hamburger-menu-click:checked + .hamburger-menu-label .xmark {
   display: block;
    position: fixed;
    right: 20px;
    z-index: 2;
  }
  #hamburger-menu-click:checked ~ .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    background: lightgrey;
    box-shadow: 0 3px 5px rgba(0, 0, 0 , .1);
    padding-top: 50px;
    transition: all .3s;
    positon: absolute;
    z-index: 1;
    
    .nav-item {
      border: 2px solid #fff;
    }
  }
}
jumbotron {
  @include background;
  @include flexJustify;
  height: $jumbotronHeight;
}
main {
  @include flexJustify;
  flex-direction: column;
}
footer {
  @include background;
  @include flexJustify;
  margin-top: $navHeight;
  height: $navHeight;
}
.photo-thumbnail {
  @include flexJustify;
  
  justify-content: space-between;
  flex-wrap: wrap;
  width: $mainWidth;
  margin-top: $navHeight;
  margin-bottom: $gapSize;
  gap: $gapSize $gapSize;
  
  .thumbnail-li {
    @include background;
    @include flexJustify;

    justify-content: flex-start;
    flex-grow: 1;
    max-height: $navHeight;

    .thumbnail-img {
      object-fit: cover;
    }
    .thumbnail-title {
      padding: $fontSize/2;
    }
  }
}

.photo-profile {
  @include flexJustify;
  
  justify-content: space-between;
  flex-wrap: wrap;
  width: $mainWidth;
  gap: $gapSize $gapSize;
  
  .profile-li {
    @include background;
    @include flexJustify;
    
    flex-direction: column;
    justify-content: flex-start;
    height: $profileHeight;
    flex: 1 1 15%;
    
    .profile-img {
      position: relative;
      min-height: $profileImageHeight;
      width: 100%;
      
      .main {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .star {
        position: absolute;
        right: 0;
      }
    }
    .profile-title {
      display: flex;
      flex-direction: column;
      position: relative;
      background-size: cover;
      background-image: url("http://placekitten.com/100/101");
      width: 100%;
      height: 100%;
      
      ::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 230, 255, 0.5);
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      span {
        @include flexJustify;
        
        flex-grow: 1;
        z-index: 1;
      }
    }
  }
}

@media(max-width: 1200px){
  .photo-thumbnail, .photo-profile{
    width: 90%;
  }
}
@media(min-width: 600px) and (max-width: 1200px){ 
  .photo-thumbnail {
    .thumbnail-li {
      display: flex;
      flex: 1 1 45%;
    }
    .thumbnail-li-3{
      flex: 2 1 0;
    }
  } 
  .photo-profile {
    .profile-li {
      flex: 1 1 20%;
    }
  }
}

@media(min-width: 600px) and (max-width: 880px){ 
  .photo-profile {
    .profile-li {
      flex: 1 1 40%;
    }
  }
}

@media(min-width: 360px) and (max-width: 600px){ 
  
  nav {
    .hamburger-menu-label {    
      .hamburger-menu {
        display: block;
      }
    }
    .nav-list {
      display: none;
    }
  }
  
  .photo-thumbnail {
    .thumbnail-li {
      display: flex;
      flex: 1 1 50%;
    }
    .thumbnail-li-3 {
      display: flex;
      flex: 1 1 50%;
    }
  }
  .photo-profile {
    .profile-li {
      flex: 1 1 50%;
    }
  }
}

